// Light Mode colors
// $dark-purple: rgba(39, 25, 47);
// $muted-purple: rgba(144, 97, 129);
// $lilac: rgba(144, 97, 129);
// $pink: rgba(144, 97, 129);
// $coral: rgba(144, 97, 129);


// Dark Mode colors
$clr-surface-tonal-a0: #15121b;
$clr-surface-tonal-a10: #2a2830;
$clr-surface-tonal-a20: #413f46;
$clr-surface-tonal-a30: #59575e;
$clr-surface-tonal-a40: #727177;
$clr-surface-tonal-a50: #8d8b90;

$white: #FFF;
$clr-primary-a0: #4c408b;

// Colors

$color-bg-primary: $clr-surface-tonal-a10;
$color-bg-secondary: $clr-surface-tonal-a0;
$color-bg-accent: $clr-primary-a0;

$color-text-primary: $white;
$color-text-secondary: $clr-surface-tonal-a40;
$color-text-dark: $clr-surface-tonal-a0;

$color-border-light: $clr-surface-tonal-a20;

// Spacing Variables
$spacing-0: 0;
$spacing-025: 2px;
$spacing-050: 4px;
$spacing-075: 6px;
$spacing-100: 8px;
$spacing-125: 10px;
$spacing-150: 12px;
$spacing-200: 16px;
$spacing-250: 20px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-800: 64px;
$spacing-1000: 80px;
$spacing-1200: 96px;
$spacing-1400: 112px;
$spacing-1600: 128px;
$spacing-1800: 144px;

// Border Radius Variables
$radius-0: 0;
$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-24: 24px;
$radius-full: 999px;

// Media Query Breakpoints
@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 600px) {
        @content;
    } 
}