// Light Mode colors
// $dark-purple: rgba(39, 25, 47);
// $muted-purple: rgba(144, 97, 129);
// $lilac: rgba(144, 97, 129);
// $pink: rgba(144, 97, 129);
// $coral: rgba(144, 97, 129);
$white: rgba(255, 255, 255);

// Dark Mode colors
$dark-blue: rgba(5, 25, 62, 255);
$mid-blue: rgb(18, 40, 77);
$med-blue: rgb(42, 66, 109);
$light-blue: rgba(53, 105 ,165 ,255);
$yellow: rgba(255, 200, 135, 255);
$orange: rgba(53, 105, 165, 255);
$neutral-200: rgba(212, 211, 200);

// Backgrounds
$color-bg-primary: $mid-blue;
$color-bg-secondary: $dark-blue;
$color-bg-accent: $yellow;

// Text
$color-text-primary: $white;
$color-text-secondary: $neutral-200;
$color-text-muted: $dark-blue;

// Borders
$color-border-light: $med-blue;

// Spacing Variables
$spacing-0: 0;
$spacing-025: 2px;
$spacing-050: 4px;
$spacing-075: 6px;
$spacing-100: 8px;
$spacing-125: 10px;
$spacing-150: 12px;
$spacing-200: 16px;
$spacing-250: 20px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-800: 64px;
$spacing-1000: 80px;
$spacing-1200: 96px;
$spacing-1400: 112px;
$spacing-1600: 128px;
$spacing-1800: 144px;

// Border Radius Variables
$radius-0: 0;
$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-24: 24px;
$radius-full: 999px;

// Media Query Breakpoints
@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 600px) {
        @content;
    } 
}