// Color Variables
$neutral-900: rgba(2, 1, 44);
$neutral-700: rgba(48, 47, 74);
$neutral-600: rgba(60, 59, 94);
$neutral-300: rgba(172, 172, 183);
$neutral-200: rgba(212, 211, 217);
$white: rgba(255, 255, 255);
$primary: rgba(38, 37, 64);
$orange: rgba(255, 130, 10);
$blue-700: rgba(43, 27, 156);
$blue-500: rgba(70, 88, 217);

// Spacing Variables
$spacing-0: 0;
$spacing-025: 2px;
$spacing-050: 4px;
$spacing-075: 6px;
$spacing-100: 8px;
$spacing-125: 10px;
$spacing-150: 12px;
$spacing-200: 16px;
$spacing-250: 20px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-800: 64px;
$spacing-1000: 80px;
$spacing-1200: 96px;
$spacing-1400: 112px;
$spacing-1600: 128px;
$spacing-1800: 144px;

// Border Radius Variables
$radius-0: 0;
$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-24: 24px;
$radius-full: 999px;