*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "DM sans", sans-serif;
  background-color: rgb(5, 25, 62);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 48px 32px;
  height: 100vh;
}
@media (max-width: 1024px) {
  body {
    padding-bottom: 80px;
  }
}
@media (max-width: 600px) {
  body {
    padding: 16px 16px 48px 16px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 600px) {
  .app-logo {
    width: 137px;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.units-title {
  margin: 0 10px;
}
@media (max-width: 600px) {
  .units-title {
    margin: 0 4px;
  }
}

.units-toggle-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(18, 40, 77);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  max-width: 120px;
  height: 45px;
  font-family: "DM sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  padding: 16px 12px;
  margin-bottom: 8px;
}
@media (max-width: 600px) {
  .units-toggle-btn {
    max-width: 90px;
    font-family: "DM sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
  }
}

.units-control {
  position: relative;
}

.units-dropdown {
  position: absolute;
  right: 0;
  z-index: 1000;
  min-width: 215px;
  height: auto;
  background-color: rgb(18, 40, 77);
  border-radius: 12px;
  padding: 8px;
  display: none;
  flex-direction: column;
  gap: 12px;
  border: solid 1px rgb(42, 66, 109);
  box-shadow: 0 8px 16px 0 rgba(2, 1, 44, 0.32);
}

.units-option {
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
  background-color: rgb(18, 40, 77);
  color: rgb(255, 255, 255);
  border: solid 1px rgb(42, 66, 109);
  font-family: "DM sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 8px;
}
.units-option:last-child {
  margin-bottom: 0;
}

.units-option:hover {
  background-color: rgb(42, 66, 109);
}

.units-option:focus {
  background-color: rgb(42, 66, 109);
}

.units-option.selected {
  background-color: rgb(42, 66, 109);
}

.units-category {
  color: rgb(212, 211, 200);
  font-family: "DM sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 6px;
}

.units-icon,
.dropdown-icon {
  width: 16px;
  height: 16px;
}
@media (max-width: 600px) {
  .units-icon,
  .dropdown-icon {
    width: 14px;
    height: 14px;
  }
}

hr {
  border: solid 1px rgb(42, 66, 109);
}

.page-title {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px;
}
@media (max-width: 600px) {
  .page-title {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.location-search {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
  margin-bottom: 48px;
}
@media (max-width: 600px) {
  .location-search {
    flex-wrap: wrap;
  }
}

.location-input {
  font-family: "DM sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  color: rgb(212, 211, 200);
  background-color: transparent;
  border: none;
}

.location-input:focus {
  outline: none;
  box-shadow: none;
}

.location-input::-moz-placeholder {
  font-family: "DM sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  color: rgb(212, 211, 200);
}

.location-input::placeholder {
  font-family: "DM sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  color: rgb(212, 211, 200);
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 590px;
  min-width: auto;
  width: 100%;
  background-color: rgb(18, 40, 77);
  border-radius: 12px;
  padding: 16px;
}

.search-submit-btn {
  max-width: 115px;
  padding: 16px 24px;
  background-color: rgb(255, 200, 135);
  border: none;
  font-family: "DM sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  color: rgb(5, 25, 62);
  border-radius: 12px;
}
@media (max-width: 600px) {
  .search-submit-btn {
    max-width: 350px;
    width: 100%;
  }
}

.search-icon {
  width: 25px;
  height: 20px;
}

.weather-dashboard {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  .weather-dashboard {
    flex-direction: column;
    align-items: center;
  }
}

.primary-weather-panel {
  display: flex;
  flex-direction: column;
}

.current-weather-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}
@media (max-width: 1024px) {
  .current-weather-card {
    margin-bottom: 32px;
  }
}

.current-weather-header {
  display: flex;
  padding: 80px 24px;
  align-items: center;
  background-image: url("/assets/images/dark-bg.jpg");
  background-size: cover;
  max-width: 800px;
  height: 286px;
  margin-bottom: 32px;
  border-radius: 20px;
  color: rgb(5, 25, 62);
}
@media (max-width: 1024px) {
  .current-weather-header {
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .current-weather-header {
    flex-direction: column;
    text-align: center;
    padding: 48px 24px;
  }
}

.current-location {
  font-family: "DM sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 12px;
}

.current-date {
  font-family: "DM sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  opacity: 80%;
}
@media (max-width: 600px) {
  .current-date {
    margin-bottom: 16px;
  }
}

.current-temperature-display {
  display: flex;
  gap: 20px;
}

.current-temperature {
  font-family: "DM Sans", sans-serif;
  font-size: 96px;
  font-weight: 600;
  font-style: italic;
  line-height: 100%;
  letter-spacing: -2px;
}

.weather-metrics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 24px;
}
@media (max-width: 600px) {
  .weather-metrics {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
  }
}

.weather-metric {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 180px;
  width: 100%;
  height: 118px;
  background-color: rgb(18, 40, 77);
  padding: 20px;
  border-radius: 12px;
  border: solid 1px rgb(42, 66, 109);
}
@media (max-width: 600px) {
  .weather-metric {
    max-width: 163px;
  }
}

.metric-label {
  font-family: "DM sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  color: rgb(212, 211, 200);
  margin-bottom: 20px;
}

.metric-value {
  font-family: "DM sans", sans-serif;
  font-size: 32px;
  font-weight: 300;
}

.current-weather-icon {
  width: 100px;
  height: 100px;
}

.daily-forecast-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.daily-forecast-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 16px;
}
@media (max-width: 600px) {
  .daily-forecast-content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.daily-forecast-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100px;
  height: 100%;
  background-color: rgb(18, 40, 77);
  border-radius: 12px;
  padding: 10px 16px;
  gap: 16px;
  border: solid 1px rgb(42, 66, 109);
}
@media (max-width: 1024px) {
  .daily-forecast-item {
    width: 89px;
  }
}
@media (max-width: 600px) {
  .daily-forecast-item {
    width: 103px;
  }
}

.daily-forecast-icon {
  width: 60px;
  height: 60px;
}

.daily-forecast-temps {
  display: flex;
  justify-content: space-between;
}

.hourly-forecast-panel {
  display: flex;
  flex-direction: column;
  background-color: rgb(18, 40, 77);
  width: 100%;
  max-width: 720px;
  min-width: 384px;
  border-radius: 20px;
  padding: 24px;
}
@media (max-width: 1024px) {
  .hourly-forecast-panel {
    margin-bottom: 80px;
  }
}
@media (max-width: 600px) {
  .hourly-forecast-panel {
    min-width: 345px;
  }
}

.hourly-forecast-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  gap: 16px;
}

.hourly-forecast-title {
  font-family: "DM sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 16px;
}

.hourly-forecast-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background-color: rgb(42, 66, 109);
  padding: 10px 16px 10px 12px;
  border: solid 1px rgb(42, 66, 109);
}

.hourly-forecast-details {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hourly-weather-icon {
  width: 40px;
  height: 40px;
}

.hourly-time-label {
  font-family: "DM sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}

.hourly-temperature {
  font-family: "DM sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}/*# sourceMappingURL=styles.css.map */